<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>heroes</title>
</head>

<body>
  <div id="app">
    {{message}}
    <p v-bind:id="id">Inspect me</p>

    <div v-if="seen">
      apareci
    </div>
    <a :href="url">Terra</a>
    <p>
      The new task will be: {{taskName}}
    </p>
    <input type="text" v-model="taskName" placeholder="Task" />
    <button @click="newTodo" type="button">New Todo</button>
    <ul>
      <todo-item v-for="todo in todos" v-bind:todo="todo"></todo-item>
    </ul>
    <p>
      {{status}}
    </p>
  </div>

  <!-- built files will be auto injected -->
</body>

</html>
