<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>heroes</title>
</head>

<body>
  <div id="app">
    {{message}}
    <p v-bind:id="id">Inspect me</p>

    <div v-if="seen">
      apareci
    </div>
    <a :href="url">Terra</a>
    <p>
      The new task will be: 
    </p>
      <todo-form v-on:save="newTodo" :task-name="selectedTask" v-on:typing="typing"></todo-form>
    <ul>
      <todo-item v-on:edit="edit" v-for="todo in todos" :todo="todo"></todo-item>
    </ul>
    <p :class="{ active: seen}">
      {{status}}
    </p>
  </div>

  <!-- built files will be auto injected -->
</body>

</html>
